POSTGRES_PORT=15432
POSTGRES_DB=meetple
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_MAX_SLOT_WAL_KEEP_SIZE=1024MB

REDIS_PORT=6379

KAFKA_PORT=9092
KAFKA_CONNECT_PORT=8083
KAFKA_CLUSTER_ID=4L6g3nShT-eMCtK--X86sw
KAFKA_PUSH_TOPIC_PARTITIONS=3

SERVER_PORT=8080
SPRING_PROFILES_ACTIVE=local
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:15432/meetple
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
SPRING_DATA_REDIS_HOST=localhost
SPRING_DATA_REDIS_PORT=6379

JWT_SECRET=
JWT_ACCESS_TOKEN_EXPIRATION_SECONDS=3600
JWT_REFRESH_TOKEN_EXPIRATION_SECONDS=1209600

NAVER_LOCATION_BASE_URL=https://openapi.naver.com
NAVER_LOCATION_CLIENT_ID=
NAVER_LOCATION_CLIENT_SECRET=

NAVER_MAPS_BASE_URL=https://maps.apigw.ntruss.com
NAVER_MAPS_CLIENT_ID=
NAVER_MAPS_CLIENT_SECRET=
